<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css" />
    <title>Document</title>
</head>
<body>

    <h1 id="name">Message board</h1>
    <div>
        <a href="/form" id="add-button">+</a>
    </div>
    <% for (var i = 0; i < messages.length; i++) { %>
    <div id="box">

    <h2 class="message"><%= messages[i].message %> </h2>
    <h4 class="name post"><%= messages[i].name %> </h4>
    <h6 class="post"><%= messages[i].date %></h6>
</div>

    <% } %>
</body>
</html>